{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" 
    style="min-height: calc(100vh - 56px); margin-top: 50px;">
    
    <div class="card shadow-sm p-4" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4">Register for {{ event.name }}</h2>
        
        <form method="post" >  
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label fw-bold">Phone Number</label>
                {{ form.phone_number|add_class:"form-control w-100" }}
                {% if form.phone_number.errors %}
                    <div class="text-danger small">{{ form.phone_number.errors|striptags }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Department</label>
                {{ form.department}}
                {% if form.department.errors %}
                    <div class="text-danger small">{{ form.department.errors|striptags }}</div>
                {% endif %}
            </div>

            {% for field in form %}
                {% if 'player_' in field.name %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">{{ field.label }}</label>
                        {{ field|add_class:"form-control w-100" }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
{% endblock %}