{% extends "base.html" %}
{% load static %}

{% block content %} 
<style>
   
    .card-img-top {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }

    .card {
        height: 100%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

   
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }
</style>

{% if registered_events %}
<h1 class="mt-4 ms-2">Registered Events</h1>
<hr>
<div class="container mt-4">
    <div class="row">
        {% for event in registered_events %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg">
                <a href="{% url 'event_detail' event.id %}">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                    {% else %}
                    <img src="https://via.placeholder.com/400x200?text=No+Image" class="card-img-top" alt="No Image Available">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        {{ event.name }}
                        {% if event.id in registered_event_ids %}
                            <span class="registered-icon text-success ms-2">&#10004;</span>
                        {% endif %}
                    </h5>
                    <p class="card-text text-muted"><strong>Category:</strong> {{ event.category }}</p>
                    <p class="card-text"><strong>Date:</strong> {{ event.date }} | <strong>Time:</strong> {{ event.time }}</p>
                    <p class="card-text"><strong>Venue:</strong> {{ event.venue }}</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class='d-flex flex-column align-items-center mt-5'>
    <h2>You have not registered for any events yet!</h2>
    <button class="btn btn-primary mt-3" onclick="window.location.href='{% url 'event_list' %}'">Go Back</button>   
{% endif %}

{% endblock %}